<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'HOME.TITLE' | translate }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
{{currentDate}}
<h2>Here are some links to help you start: </h2>
<p>name : <input type="text" [(ngModel)]='name' > {{titleName | gender:'en'}} {{name}}</p> 
<select [(ngModel)]="titleName">
  <option value=""></option>
  <option value="Mr">Mr</option>
  <option value="Ms">Ms</option>
  <option value="Miss">Miss</option>
</select>
<button (click)="onClick()">Submit</button>
<div id="container" style="width:600px;"></div>
<button class="btn btn-primary" (click)="openModal()" >open</button>


<!-- Modal -->
<div class="modal fade global-search-full-result" id="mdlGlobalSearchFullResult" tabindex="-1" role="dialog"
  aria-labelledby="globalSearchFullResultLabel" aria-hidden="true"
  data-backdrop="false">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container >
          <small class="d-block text-muted mb-3">Hello</small>
        </ng-container>
      </div>
    </div>
  </div>
</div>
